<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
  </head>
  <body>
    <!-- Forgot Password Page -->
    <div class="center fade-in" id="forgotPassword" style="display: none;">
        <h1>Reset Password</h1>
        <div id="resetMessages" class="fade-in"></div>
        <div class="info-text">
            Enter your email to reset password
        </div>
        
        <form method="POST" id="resetForm">
            {% csrf_token %}
            <div class="txt_field">
                <input type="email" required name="email" id="email">
                <span></span>
                <label>Email</label>
            </div>
            
            <input type="submit" value="Reset Password">
            <div class="signup_link">
                Not a member? <a href="{% url 'register' %}">Sign up</a>
                <p>Remember your Password? <a href="{% url 'login' %}">Login</a></p> 
            </div>
        </form>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
    const forgotPasswordDiv = document.getElementById('forgotPassword');
    forgotPasswordDiv.style.display = 'block';  // Make it visible
    forgotPasswordDiv.classList.add('fade-in');  // Add the fade-in class
});

    </script>
  </body>
</html>